header{
  height: 60px;
  background-color: #002147;
}

.basic{
  text-align: center;
  font-size: 25px;
  color: #002147;
  box-shadow: 0 0 20px #5484e2;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contact{
  text-align: center;
  box-shadow: 0 0 20px #35b46c;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}