
header{
  background-color: #002147;
  color: #f3f6fa;
  font-size: 50px;
  text-align: center;
  
}
p, pre{
  font-size: 25px;
  font-family: fantasy;
  text-align: left;
  margin-top: 13px;
  margin-left: 550px;
  color: #002147;
}
input{
  cursor: pointer;
}
#user_choice{
  color: rgb(1, 14, 20);
  text-align: right;
  margin-left: 600px;
  font-size: larger;
}
button{
  background-color: #6099d2d6;
  text-align: right;
  margin-left: 700px;
  font-size: larger;
}
.Result{
  color: #002147;
  font-size: 25px;
  font-family: fantasy;
  text-align: center;
  margin-top: 13px;
  box-shadow: 0 0 20px #00ff00;
}