
header{
  background-color: #002147;
  color: #f3f6fa;
  font-size: 50px;
  text-align: center;
  
}
p{
  font-size: 25px;
  font-family: fantasy;
  text-align: left;
  margin-top: 13px;
  margin-left: 550px;
}
button{
  background-color: #336aaad6;
  text-align: right;
  margin-left: 700px;
  font-size: larger;
  }
p{
  color: #002147;
}
input{
  cursor: pointer;
}

.result{
  color: #002147;
  font-size: 25px;
  font-family: fantasy;
  text-align: center;
  margin-top: 23px;
  box-shadow: 0 0 20px #00ff00;
}